[submodule "themes/tree"]
        path = themes/tree
        url = git@github.com:sisyphus1212/hexo-tree-plus.git
        branch = main

[submodule "articles/0"]
	path = articles/0
	url = git@github.com:sisyphus1212/note.git
